<h1>View all posts</h1> 

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.body %>
  <%= post.vote_count %>
<% end %>
</br>
<%= link_to 'Up vote', [:toggle_up, @votable, @vote] %> | <%= link_to 'Down vote', [:toggle_down, @votable, vote] %>