<h1>Comments</h1>
<%= @post.title %></br>
<%= @post.body %></br>
<% @post.comments.each do |comment| %>
  <%= comment.body %>
  <%= vote_count_comment(comment) %> points
  <% if user_signed_in? %>
    | <%= link_to 'Up vote', post_comment_votes_path(@post, comment, direction: true ), method: :post %> | <%= link_to 'Down vote', post_comment_votes_path(@post, comment, direction: false ), method: :post %>
  <% end %>
  </br>
  </br>
<% end %>
</br>
<%= link_to "Make a comment", new_post_comment_path(@post) %> | <%= link_to "Back to posts", posts_path %>
